/*  */
body {
  margin: 0px;
  padding: 0px;
  /* font-family: "Merriweather", serif;
  font-family: "Work Sans", sans-serif; */
}
/* New year banner section  */
.new-year-container {
  width: 1300px;
  height: 600px;
  margin: 50px auto 100px;
  border-radius: 15px;
  background-image: url("images/Banner-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.new-year-header-title {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.new-year-greeting {
  color: #fff;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  margin-top: 100px;
  padding: 0px;
}
.new-year-celebrration {
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  padding: 0px 340px 100px 350px;
  text-align: center;
  margin: 0px;
}

/* ===offer section style===== */

.offer-section {
  margin-bottom: 100px;
}

.offer-container {
  text-align: center;
}

.off-title {
  font-size: 75px;
  font-weight: 700;
  color: #f00;
}
.small-description {
  font-family: Inter;
  font-size: 17px;
  color: #f00;
  margin-top: -35px;
}
.offer-catagory-title {
  color: #070211;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
}
.off-img {
  width: 500px;
  height: 318px;
}

/* ====mid night party style======== */
.mid-night-party {
  margin-bottom: 100px;
}
.mid-night-container {
  width: 1300px;
  height: 600px;
  margin: 50px auto 100px;
  border-radius: 15px;
  background-image: url("images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mid-night-title {
  width: 100%;
  height: 100%;
  color: white;

  border-radius: 15px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.mid-night-header {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  padding: 110px 500px 0px 125px;
}
.mid-night-description {
  /* padding:px 450px 25px 125px; */
  padding-left: 125px;
  margin-top: -40px;
  color: whitesmoke;
  font-family: Inter;
  font-size: 16px;
  padding-right: 400px;
}
.btn-primary {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  padding-left:125px;
}
.mid-night-header > button {

}
.mid-night-header > button{
    padding-left:125px;
}